/* 微前端公共项目全局样式表 */
 html,body{
     height:100% !important;
     margin: 0;
     padding: 0;
 }
.g-width100{
    width: 100% !important;;
}
.g-height100{
    height: 100% !important;;
}
.g-center-all{
    display: flex;
    align-items:center;
    justify-content:center;
}
.g-align-center{
    text-align: center;
}
.g-align-right{
    text-align: right;
}
.g-block{
    display: block !important;
}