<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="grape.base.service.dataconstraint.mapper.DataScopeMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        version,
        create_at,
        create_by,
        update_at,
        update_by,
        code, name, data_object_id, constraint_content, is_custom
    </sql>

</mapper>
